@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  background: fixed white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}

.navbar li {
  list-style-type: none;
  float: right;
  padding: 50px 20px;
}

.navbar li button {
  width: 100px;
  border-radius: 0.5rem;
}

.navbar li button.SignUp {
  background-color: rgba(119, 65, 170, 1);
  color: white;
}

.navbar li button.SignIn {
  color: rgba(119, 65, 170, 1);
}

.navbar li.logo {
  float: left;
  margin: 20px;
  padding: 0px;
}

.navbar li img {
  height: 5rem;
}

.description {
  height: 70vh;
  margin: 1rem;
  padding: 2rem;
  overflow: hidden;
  display: flex;
}

.description .intro {
  width: 50%;
  display: inline-block;

  vertical-align: middle;
  padding: 20vh 0px;
}

.description .intro .about {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
  line-height: 1.5;
}

.description .images {
  display: inline-block;
  width: 50%;
}

.bulb-bg {
  display: inline-block;
  position: absolute;
  z-index: 2;
  opacity: 0.5;
  width: 50%;
}

.bulb {
  display: inline;
  position: relative;
  z-index: 1;
  width: 100%;
}

.description header {
  display: inline-block;
  font-weight: bolder;
  font-size: 2rem;
}

.description header span {
  color: rgba(119, 65, 170, 1);
} */
